.main{
    background: url('../../../public/contactbackground.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: 100vh;
    flex-direction: row;
}
