body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: -8px 0px 0px -8px;
    padding: 0px 0px 0px 8px ;
    width: 100%;
    background-color: black;
    color: white;
  }
  