.main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: 700px;
    flex-direction: row;
}
.box1 {
    flex: 5;
    background: url('../../public/Godofwar4.jpg');
    background-size: 550px;
    background-position: 100px 50px;
    background-repeat: no-repeat;
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}}
.box1 p{
  margin: 100px 0px 0px 20px;
  text-align: center;
  font-size: 18px;
  color: gray;
}
.box1 button{
  margin: 50px auto 0px auto;
  height: 60px;
  width: 200px;
  border: 1px solid white;
  cursor: pointer;
  background: none;
  font-size: 25px;
  color: white;
  border-radius: 4px;
}
.box1 button:hover{
  background-color: rgba(255, 255, 255, 0.336);
}

.box2{flex:4.5;
      background:url('../../public/kratos.png');
      background-position-x: 100px;
      position: relative;
      top: -70px;
      height: 680px;
      background-position-y: 0px;
      background-repeat: no-repeat;
      background-size: 440px;
      filter: drop-shadow(50px 50px 130px rgb(255, 204, 0));
      animation: slideInLeft 1s ease-in-out;
      animation: colorChange 30s linear infinite;
}
@keyframes colorChange {
  0% { filter: drop-shadow(50px 50px 130px rgba(77, 250, 92, 0.755)); }
  30% { filter: drop-shadow(50px 50px 130px rgb(251, 70, 70)); }
  70% { filter: drop-shadow(50px 50px 130px rgb(0, 179, 255)); }
  100% { filter: drop-shadow(50px 50px 130px rgb(47, 255, 0)); }
}
@keyframes slideInLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}